In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
al = pd.read_csv('/Users/meredithmay/Downloads/arlington.csv')
indy = pd.read_csv('/Users/meredithmay/Downloads/indy.csv')
gr = pd.read_csv('/Users/meredithmay/Downloads/gr.csv')
arb = pd.read_csv('/Users/meredithmay/Downloads/arb.csv')
hiro = pd.read_csv('/Users/meredithmay/Downloads/hiro.csv')

In [14]:
hiro

           date  distance_healthy  distance_autonomous
0    2021-12-23         11410.156             7328.125
1    2021-08-03             0.000                0.000
2    2021-08-02          1554.691              957.030
3    2021-08-17         17636.720               19.531
4    2021-08-23          4945.311             4308.592
..          ...               ...                  ...
414  2022-01-31          8761.719             4804.686
415  2022-01-31          6511.719             2679.687
416  2022-01-31          6066.406             2671.876
417  2022-01-31          4113.281             2695.312
418  2022-01-31         13800.783             6863.280

[419 rows x 3 columns]

In [5]:
indy.date = pd.to_datetime(indy.date)
indy['month'] = indy.date.dt.strftime('%Y-%m')
indy_distance = indy.groupby(by = ['month'])[['distance_healthy','distance_autonomous']].sum()
indy_distance.to_csv('indy_distance.csv')

In [8]:
al.date = pd.to_datetime(al.date)
al['month'] = al.date.dt.strftime('%Y-%m')
al_distance = al.groupby(by = ['month'])[['distance_healthy','distance_autonomous']].sum()
al_distance.to_csv('al_distance.csv')

In [11]:
arb.date = pd.to_datetime(arb.date)
arb['month'] = arb.date.dt.strftime('%Y-%m')
arb_distance = arb.groupby(by = ['month'])[['distance_healthy','distance_autonomous']].sum()
arb_distance.to_csv('arb_distance.csv')

In [13]:
gr.date = pd.to_datetime(gr.date)
gr['month'] = gr.date.dt.strftime('%Y-%m')
gr_distance = gr.groupby(by = ['month'])[['distance_healthy','distance_autonomous']].sum()
gr_distance.to_csv('gr_distance.csv')

In [15]:
hiro.date = pd.to_datetime(hiro.date)
hiro['month'] = hiro.date.dt.strftime('%Y-%m')
hiro_distance = hiro.groupby(by = ['month'])[['distance_healthy','distance_autonomous']].sum()
hiro_distance.to_csv('hiro_distance.csv')

## SQL 

 select date(start_time), distance_healthy, distance_autonomous
from vehicle_logs
where is_prod = true and date(start_time) between '2021-08-01' and '2022-01-31'