In [1]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv('/Users/meredithmay/Downloads/data-1644851376867.csv')

In [17]:
data

,date,total_planned_interventions,total_unplanned_interventions,deployment_zone
0,2021-08-11,1,0,arlington
1,2021-08-11,1,0,arlington
2,2021-08-09,4,23,grand_rapids
3,2021-08-16,4,3,grand_rapids
4,2021-08-25,1,0,grand_rapids
...,...,...,...,...
6410,2022-01-31,6,123,grand_rapids
6411,2022-01-31,33,95,grand_rapids
6412,2022-01-31,18,102,grand_rapids
6413,2022-01-31,25,60,grand_rapids
6414,2022-01-31,45,123,grand_rapids

In [18]:
data.date = pd.to_datetime(data.date)

In [19]:
data['month'] = data.date.dt.strftime('%Y-%m')

In [20]:
result = data.groupby(['month','deployment_zone'])[['total_planned_interventions','total_unplanned_interventions']].sum()

In [22]:
result.to_csv('intervention_number.csv')

In [21]:
result

                         total_planned_interventions  \
month   deployment_zone
2021-08 arlington                               4532
        grand_rapids                            1389
        indy                                    1315
2021-09 ann-arbor                                395
        arlington                               8060
        grand_rapids                            1587
        indy                                     622
2021-10 ann-arbor                               4090
        arlington                               8764
        grand_rapids                            1591
        indy                                    1767
2021-11 ann-arbor                               4610
        arlington                               9346
        grand_rapids                            2276
        indy                                    1231
2021-12 ann-arbor                               4740
        arlington                               9539
        grand_rapids                            2352
        indy                                    3424
2022-01 ann-arbor                               3454
        arlington                               8802
        grand_rapids                            4208
        indy                                   14397

                         total_unplanned_interventions
month   deployment_zone
2021-08 arlington                                10640
        grand_rapids                              5579
        indy                                      9403
2021-09 ann-arbor                                 1254
        arlington                                15430
        grand_rapids                              7958
        indy                                      5144
2021-10 ann-arbor                                18599
        arlington                                14324
        grand_rapids                              8239
        indy                                      9893
2021-11 ann-arbor                                25300
        arlington                                18444
        grand_rapids                              9279
        indy                                      9838
2021-12 ann-arbor                                23426
        arlington                                12906
        grand_rapids                              8352
        indy                                      3722
2022-01 ann-arbor                                18970
        arlington                                10263
        grand_rapids                             13695
        indy                                     10407

## SQL 


select date, total_planned_interventions,total_unplanned_interventions, interventions_by_log.deployment_zone
from interventions_by_log 
where is_prod = true
and date(date) between '2021-08-01' and '2022-01-31'