In [54]:
import pandas as pd
import numpy as np
import datetime

In [56]:
ar = pd.read_csv('/Users/meredithmay/Downloads/ann_arbor_ridership.csv')
al = pd.read_csv('/Users/meredithmay/Downloads/arl_ride.csv')
indy = pd.read_csv('/Users/meredithmay/Downloads/indy_ridership.csv')
hiro = pd.read_csv('/Users/meredithmay/Downloads/hiroshima_ride.csv')

In [40]:
indy.date = pd.to_datetime(indy.date)
indy['month'] = indy.date.dt.strftime('%Y-%m')
indy_ridecount = indy.groupby(by = ['month','station']).pickup.sum()
indy_ridecount.to_csv('indy_ridecount.csv')

In [48]:
ar_ridecount = ar.groupby(by = ['month','pickup_intersection']).ct.sum()
ar_ridecount.to_csv('ar_ridecount.csv')

In [59]:
al.date = pd.to_datetime(al.date)
al['month'] = al.date.dt.strftime('%Y-%m')
al_ridecount = al.groupby(by = ['month']).riders.sum()
al_ridecount.to_csv('al_ridecount.csv')

In [57]:
hiro.date = pd.to_datetime(hiro.date)
hiro['month'] = hiro.date.dt.strftime('%Y-%m')
hiro_ridecount = hiro.groupby(by = ['month','station']).pickup.sum()
hiro_ridecount.to_csv('hiro_ridecount.csv')

In [62]:
gr_ods = pd.read_csv('/Users/meredithmay/Downloads/grand_rapids_ridership_ods.csv')
gr_fixed = pd.read_csv('/Users/meredithmay/Downloads/grand_rapids_ridership_fixedroute_csv.csv')

In [78]:
gr_fixed = gr_fixed.rename(columns = {'station':'pickup_intersection'})
gr = pd.concat([gr_fixed,gr_ods])

     month     pickup_intersection  ct
0        7                    YMCA  23
1        7               Van Andel   2
2        7             Studio Park  10
3        7               Seward 9S  29
4        7               Seward 9N  87
..     ...                     ...  ..
168     12           Printing Co.    2
169     12  Seward at North Lot NB   1
170     12  Seward at South Lot NB  30
171     12             Studio Park  12
172     12               Van Andel   2

[193 rows x 3 columns]

In [81]:
gr_ridecount = gr.groupby(by = ['month','pickup_intersection']).ct.sum()
gr_ridecount.to_csv('gr_ridecount.csv')

## SQL 


select *
from ridership_manual 
where date between '2021-08-01' and '2022-01-31'